<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
    <debug/>
    <http use-expressions="true" entry-point-ref="authenticationEntryPoint"
          security-context-repository-ref="redisSecurityContextRepository">
        <intercept-url pattern="/auth/logon" access="permitAll()"/>
        <intercept-url pattern="/auth/logon-form" access="permitAll()"/>
        <intercept-url pattern="/auth/logon-failed" access="permitAll()"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <custom-filter after="SECURITY_CONTEXT_FILTER" ref="refreshAccessTokenFilter"/>
        <csrf disabled="true"/>
    </http>
    <authentication-manager/>
    <beans:bean id="authenticationEntryPoint"
                class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:constructor-arg value="/auth/logon"/>
    </beans:bean>
    <beans:bean id="refreshAccessTokenFilter" class="zxf.springboot.gateway.security.RefreshAccessTokenFilter"/>
</beans:beans>